{% extends 'meteorite_landings/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <div class="row">
      <div class="col-sm-12">
        <h2>Meteorite Landings Search View</h2>
      </div>
    </div>
  </header>

  {% include 'pagination/pagination.html' %}

  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <button type="submit" class="btn btn-outline-danger">Filter</button>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
      {% for meteorite_class in object_list %}
        <h4><a href="{% url 'meteorite_class_detail' meteorite_class.pk %}">{{ meteorite_class.code | safe}}</h4>
        <!-- add the country_area_names and description template tags -->
        {% if meteorite_class.country_area_name %}
          <p><strong>{{ meteorite_class.country_area_name | safe }}</strong></p>
        {% endif %}
        {% if meteorite_class.definition %}
          <p>{{ meteorite_class.definition | safe }}</p>
        {% endif %}
    {% empty %}
      Select one or more filters relevant to your search and then click "filter".
    {% endfor %}
    </div>
  </div>
{% endblock content %}
