{% extends 'meteorite_landings/base.html' %}

{% block content %}

<article>
  <header>
    <div class="row">
      <div class="col-sm-12">
        <h2>Meteorite Landings ListView</h2>
      </div>
    </div>
  </header>

  {% include 'pagination/pagination.html' %}

  {% if meteorite_landings %}
  <ul>

    {% for meteorite_landing in meteorite_landings %}
    <!-- safe filter on for raw HTML stored in database -->
    <li>
      <a href="{% url 'meteorite_landing_detail' meteorite_landing.pk %}">
        {{ meteorite_landing.country_area.iso_alpha3_code | safe}}&nbsp;
        {{ meteorite_landing.meteorite_class | safe }}
      </a>
    </li>
    {% endfor %}

  </ul>
  {% else %}
  <p>No Meteorite Landings are available to view.</p>
  {% endif %}

  <p>page count: {{ meteorite_landings.count }}</p>
</article>

{% endblock content %}}
